form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 20%;
    bottom: 10%;
    padding: 45px;
    padding-bottom: 300px;
    border-radius: 25px;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px -10px 5px rgba(0,0,0,0.8);
    -webkit-box-shadow: 10px -10px 5px rgba(0,0,0,0.8);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.8);
    border: 12px solid rgba(0, 0, 0, 0.986);
    background-color: rgb(255, 255, 255);
  }
  
  label {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: black;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    width: 100%;
    max-width: 20rem;
  }
  
  button[type="submit"] {
    width: 130px;
    height: 40px;
    color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(218, 218, 218, 0.5),
     7px 7px 20px 0px rgba(0, 0, 0, 0.142),
     4px 4px 5px 0px rgba(0, 0, 0, 0.256);
    outline: none;
    border: none;
  }
  
  button[type="submit"]:after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }

  button[type="submit"]:hover {
    color: #000;
  }

  button[type="submit"]:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }

  button[type="submit"]:active {
    top: 2px;
  }

  h1 {
    font-weight: none;
    text-align: left;
    font-size: medium;
  }
  