form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 20%;
    bottom: 10%;
    top:10%;
    width:20%;
    padding: 45px;
    padding-bottom: 300px;
    border-radius: 25px;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.2);

    border: 12px solid rgba(0, 0, 0, 0.986);
    background-color: rgb(255, 255, 255);
  }
  
  label {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: black;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    width: 100%;
    max-width: 20rem;
  }
  
  button[type="submit"] {
    width: 130px;
    height: 40px;
    color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(218, 218, 218, 0.5),
     7px 7px 20px 0px rgba(0, 0, 0, 0.142),
     4px 4px 5px 0px rgba(0, 0, 0, 0.256);
    outline: none;
    border: none;
  }
  
  button[type="submit"]:after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }

  button[type="submit"]:hover {
    color: #000;
  }

  button[type="submit"]:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }

  button[type="submit"]:active {
    top: 2px;
  }

  h1 {
    font-weight: none;
    text-align: left;
    font-size: medium;
  }

  .loginButton {
    background-color: #3cb371;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px #3cb371;
    border-radius: 5px;
    margin-bottom: auto;
    margin-top: 5px;
  }
  
  .loginButton:hover {
    box-shadow: 0px 0px 20px #3cb371;
  }

  * {
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  
  
  #stripes,#stripes span {
      position: absolute
  }
  
  #stripes {
      width: 100%;
      height: 100%;
      overflow: hidden;
      -webkit-transform: skewY(-12deg);
      transform: skewY(-12deg);
      -webkit-transform-origin: 0;
      transform-origin: -150rem;
      background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  }
  
  #stripes span {
      height: 40px;
  }

  @media (min-width: 670px) {
    #stripes span {
        height:150px
    }

    #stripes :first-child {
        top: 0;
        background: #4750ff
    }

    #stripes :nth-child(2) {
        width: 16.66667%;
        width: calc(100% / 6);
        top: 300px;
        top: calc(150px * 2);
        bottom: auto;
        background: #0dcfff
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        width: calc(100% / 3);
        right: auto;
        background: #11bdff
    }
}

#stripes :first-child {
  width: 50%;
  left: 50%;
  top: 40px;
  background: #4c29ff
}

#stripes :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: #2be7ff
}

#stripes :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: #a1ffc8
}

@media (min-width: 880px) {
    #stripes span {
        height:190px
    }

    #stripes :first-child {
        width: 33.33333%;
        width: calc(100% / 3);
        left: -16.66666%;
        left: calc(calc(calc(100% / 3) / 2) * -1);
        background: #53f
    }

    #stripes :nth-child(2) {
        width: 33.33333%;
        width: calc(100% / 3);
        top: 0;
        left: 16.66666%;
        left: calc(calc(100% / 3) / 2);
        right: auto;
        background: #4553ff
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        width: calc(100% / 3);
        left: 49.99999%;
        left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
        bottom: auto;
        background: #4f40ff
    }

    #stripes :nth-child(4) {
        width: 33.33333%;
        width: calc(100% / 3);
        top: 380px;
        top: calc(190px * 2);
        right: -16.66666%;
        right: calc(calc(calc(100% / 3) / 2) * -1);
        background: #25ddf5
    }

    #stripes :nth-child(5) {
        width: 33.33333%;
        width: calc(100% / 3);
        bottom: 0;
        background: #1fa2ff
    }
}

  
  

  
  